* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  font-family: 'Teko', sans-serif;
}
.col {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.col h2 {
  padding: 10px;
  color: aliceblue;
  border-radius: 10px;
  transition:  background 0.3s ease-in;
}

.col h2:hover {
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.col button {
  border: none;
  background: transparent;
  padding: 10px;
  color: aliceblue;
  font-size: 1.6rem;
  transition: background 0.3s ease-in;
  border-radius: 10px;
  outline: none;
}
.col button:hover {
  background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.info {
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 10px;
}
